@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UpdateCallRequest

<div class="container mx-auto mt-5 col-lg-6">
    <h2 class="mb-4">Изменение звонка</h2>
    <form method="post" class="row g-2">
        <div class="col-sm-6">
            <label asp-for="StarterPhoneNumber" class="form-label"></label>
            <input asp-for="StarterPhoneNumber" value="@Model.StarterPhoneNumber" class="form-control"/>
            <span asp-validation-for="StarterPhoneNumber" class="invalid-feedback d-block"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="ChargePerMinute" class="form-label"></label>
            <div class="input-group">
                <input type="number" asp-for="ChargePerMinute" value="@Model.ChargePerMinute.ToString(CultureInfo.InvariantCulture)" step="0.01" class="form-control"/>
                <span class="input-group-text">руб. в мин.</span>
            </div>
            <span asp-validation-for="ChargePerMinute" class="invalid-feedback d-block"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="Since" class="form-label"></label>
            <input type="datetime-local" asp-for="Since" class="form-control"/>
            <span asp-validation-for="Since" class="invalid-feedback d-block"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="Until" class="form-label"></label>
            <input type="datetime-local" asp-for="Until" class="form-control"/>
            <span asp-validation-for="Until" class="invalid-feedback d-block"></span>
        </div>
        <h4 class="mt-4">Номера участников</h4>
        <div>
            <div id="phoneNumbers" class="d-flex flex-column gap-2">
                @for (var i = 0; i < Model.ParticipantPhoneNumbers.Count; i++)
                {
                    <div class="input-group">
                        <input name="ParticipantPhoneNumbers[@i]" value="@Model.ParticipantPhoneNumbers[i]" class="form-control" placeholder="Номер телефона"/>
                        <button type="button" class="btn btn-outline-danger remove-phone-number">Удалить</button>
                    </div>
                }
            </div>
            <input type="button" id="addPhoneNumber" class="btn btn-outline-primary mt-2" value="Добавить номер"/>
        </div>
        <div class="d-flex justify-content-end align-items-center gap-2">
            <a asp-action="Index">
                <input type="button" class="btn btn-outline-danger" value="Отмена"/>
            </a>
            <input type="submit" class="btn btn-primary" value="Сохранить"/>
        </div>
    </form>
</div>

@section Scripts {
    <script>
    $(document).ready(function() {
        function reindexPhoneNumbers() {
            $('#phoneNumbers .input-group').each(function(i) {
                $(this).find('input[name^="ParticipantPhoneNumbers"]').attr('name', `ParticipantPhoneNumbers[${i}]`);
            });
        }

        $('#addPhoneNumber').on('click', function() {
            const index = $('#phoneNumbers .input-group').length;
            const html = `
                <div class="input-group">
                    <input type="text" name="ParticipantPhoneNumbers[${index}]" class="form-control" placeholder="Номер телефона"/>
                    <button type="button" class="btn btn-outline-danger remove-phone-number">Удалить</button>
                </div>
            `;
            $('#phoneNumbers').append(html);
        });

        $(document).on('click', '.remove-phone-number', function() {
            $(this).closest('.input-group').remove();
            reindexPhoneNumbers();
        });
    });
    </script>
}